<div style="width:20%; margin:auto; padding: 10px; border:1px solid black; display:flex; flex-direction: column;">
    <h1>Calculadora</h1>
    <label>Número 1</label>
    <input type="number" step="any" id="num1" name="num1" [(ngModel)]="num1" style="margin-bottom:15px">
    <label>Número 2</label>
    <input type="number" step="any" id="num2" name="num2" [(ngModel)]="num2" style="margin-bottom:15px">
    <select id="conta" [(ngModel)]="conta">
        <option [selected]=true value="soma">Somar</option>
        <option value="sub">Subtrair</option>
        <option value="mult">Multiplicar</option>
        <option value="div">Dividir</option>
    </select>
    <div style="display:flex; margin-top:20px; margin-bottom: 20px;">
        <button (click)="calcular()">Calular</button>
        <button (click)="limpar()">Limpar</button>
    </div>
    <p id="resultado">Resultado: <span *ngIf="exibeP">{{resultado}}</span></p>
</div>
