<!-- 
<hello-world></hello-world>
<data-hora></data-hora> 
<livros-cadastro></livros-cadastro>
<livros></livros>
-->
<nav>
    <ul>
        <li>
            <a [routerLink]="['listagem']">Listagem</a>
        </li>
        <li>
            <a [routerLink]="['cadastro']">Cadastro</a>
        </li>
        <li>
            <a [routerLink]="['exer01']">Exercício 01</a>
        </li>
        <li>
            <a [routerLink]="['exer02']">Exercício 02</a>
        </li>
        <li>
            <a [routerLink]="['exer03']">Exercício 03</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
