<label for="tarefaInput">Tarefa:</label>
<input type="text" name="tarefaInput" #newItem placeholder="Inseria a descrição da tarefa"
    (keyup.enter)="inserir(newItem.value); newItem.value = ''" id="tarefaInput" />
<button (click)="inserir(newItem.value); newItem.value = ''">Criar</button>

<br />

<ul>
    <li *ngFor="let item of itens; let i =index">
        <p [ngClass]="item.done == true ? 'done' : 'notDone'" (click)="change(i)">
            {{item.description}}
            <button (click)="remover(i)">Excluir</button>
        </p>
    </li>
</ul>
